DATABASE_URL="file:../src/infrastructure/db/dev.db"

#Bane palavras que podem aparecer em titulos, avaliações, comentarios,etc. Deve estar no seguinte formato: '["palavra1","palavra2"]'
FORBIDDEN_WORDS_JSON=''


#admin password
ADMIN_SEED_PASSWORD = ""


# admin email
ADMIN_SEED_EMAIL = ""

GMAIL_USER=""
#Senha da aplicação do google
GOOGLE_APP_PASSWORD=""


#Chave secreta para gerar o token JWT
JWT_SECRET=""


#Tempo de validade do codigo de verificação em milissegundos Exemplo: 3600000 = 1 hora
VERIFICATION_CODE_VALIDITY=3600000
