DATABASE_URL="postgresql://postgres.[PROJECT-REF]:[SENHA]@aws-1-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[PROJECT-REF]:[SENHA]@aws-1-us-east-2.pooler.supabase.com:5432/postgres"

# Bane palavras que podem aparecer em titulos, avaliações, comentarios,etc. Deve estar no seguinte formato: '["palavra1","palavra2"]'
FORBIDDEN_WORDS_JSON=''

# User seed
USER_TEST_EMAIL =""
USER_TEST_PASSWORD = ""


# Admin seed
ADMIN_SEED_PASSWORD = ""
ADMIN_SEED_EMAIL = ""

# STMP do google
GMAIL_USER=""
GOOGLE_APP_PASSWORD=""




# Chave secreta para gerar o token JWT
JWT_SECRET=""


#Tempo de validade do codigo de verificação em milissegundos Exemplo: 3600000 = 1 hora
VERIFICATION_CODE_VALIDITY=3600000
